/vendor
/node_modules
/public/storage
/public/build/js
/public/build/css
/public/build/rev-manifest.json
/public/js/bundle.js
/public/js/bundle.js.map
Homestead.yaml
Homestead.json
.env
.tags
.tags_swap
/.idea
