/* Datatables
------------------------------------------------ */
.table_active{
	background-color: #337ab7;
	color: #FFF;
}

/**
 * location picke
 */
 .pac-container{z-index:2000 !important;}


 .box-typical-upload {
    height: 100%;
}


/*round image icon*/
.iconOption {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 25px;
    top: 5px;
    border-radius: 50%;
}
