/* Datatables
------------------------------------------------ */
.table_active{
	background-color: #337ab7;
	color: #FFF;
}

/**
 * location picke
 */
 .pac-container{z-index:2000 !important;}


 .box-typical-upload {
    height: 100%;
}
